<% provide(:title, 'Update Project') %>
<% provide(:button_text, 'Submit Changes') %>

<h1>Update Project</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
<div class="left">
  <%= link_to 'View Buildings', buildings_path, class: 'btn btn-primary' %>
</div>
<div class="right">
  <%= link_to 'View Units', units_path, class: 'btn btn-primary' %>
</div>