<% provide(:title, @unit.project.name) %>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <p>Unit:     <%= @unit.unit_no %></p>
    <p>Building: <%= @unit.building.name %></p>
    <p>Floor:    <%= @unit.floor %></p>
  </div>
</div>  
